//
//  CommonTests.xcconfig
//  SimpleContainer
//
//  Created by Acero Salazar Felix on 26/02/17.
//  Copyright © 2017 acerosalazar. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.11
SDKROOT = macosx
INFOPLIST_FILE = Tests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.acerosalazar.SimpleContainerTests
